.header{
  border-bottom: 1px solid #222;
  height: 4rem;
  width: 100%;

  display: flex;
  justify-content: space-between;

  &__logo{
    @include Center;
    margin: 1rem;
    width: 10%;
  }

  &__nav{
    @include Center;
    justify-content: space-evenly;
    width: 50%;
    

    &-element{
      @include Center;
      height: 2rem;
      width: 5rem;
      border: 1px solid red;
      justify-content: center;

      &:hover{
        cursor: pointer;
        border: 1px solid green;
      }
    }
  }
}